.chat-body__main{
    height:82vh;
    width:100%;
    padding:20px;
    overflow: auto;

    /* background-color:darkslateblue; */
}
.chat-body__messege{
    width:60%;
    margin-bottom:20px;



}
.messege{
    height:100%;
    width:fit-content;
    padding:5px 6px 8px 7px;
    background-color:#5390d9;
    border-radius:20px;
    text-align:justify;
    margin-bottom:20px;
    color:white;


}
.reciever{
    direction: rtl;
    
}